<div class="container">
  <div class="header">
    <h4 class="text-bold">ALL Users</h4>
    <section></section>
  </div>
  <div class="divider"></div>

  <mat-card *ngFor="let item of users">
    <mat-card-title class="m-0">
      <div class="d-flex flex-row w-100">
        <p class="m-0">{{ item.fname }} {{ item.lname }}</p>
        <button class="ml-auto" mat-button>
          Remove<mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-subtitle>{{ item.userName }}</mat-card-subtitle>
    <mat-card-content> User Info </mat-card-content>
  </mat-card>
</div>
