@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");

.nav {
  display: flex;
  position: sticky;
  width: -webkit-fill-available;
  padding: 12px;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0);
  z-index: 500;

  &-title {
    align-self: center;
    margin: auto;
    font-size: xx-large;
    cursor: pointer;
    font-family: "MonteCarlo", cursive;
    color: #d3002d;
    user-select: none;
  }

  &-btns {
    margin: auto;

    &-line {
      margin: auto;
      border-bottom: 2px solid #537173;
      animation: line 0.5s;
    }

    &-item {
      border-radius: 0;

      &-icon {
        vertical-align: middle;
        transform: scale(0.9);
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
    a:hover {
      .nav-btns-item {
        background-color: #ebebeb;
      }
      .nav-subitem {
        display: flex;
      }
    }
  }

  &-subitem {
    display: none;
    min-width: 160px;
    background: rgb(252 252 252);
    border-top: none;
    position: absolute;
    top: 46px;
    padding: 12px;
    overflow: hidden;
    border-radius: 2px;
    flex-direction: column;

    &-item {
      width: 100%;
      padding: 8px;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
      background: transparent;
      border: navajowhite;
      text-align: left;
    }
    &-item:hover {
      text-decoration: underline !important;
    }
  }
}

.warn {
  color: #d3002d !important;
}

@keyframes line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
